
h1{
    color: rgb(252, 4, 239);
}
body{
    background-image: url(https://i.etsystatic.com/27883088/r/il/35c4d9/2879219628/il_1588xN.2879219628_dxpn.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;

}